# MongoDB
MONGODB_URI=mongodb+srv://ignaciorosato:pXY9elz95BIzW8yb@clustersmoq.5vt0p1y.mongodb.net/?retryWrites=true&w=majority&appName=ClusterSmoq

# JWT
JWT_SECRET=tu-secreto-jwt-super-seguro-aqui

# SMTP (Hostinger)
SMTP_HOST=smtp.hostinger.com
SMTP_USER=tu-email@dominio.com
SMTP_PASS=tu-contraseña-smtp

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3002

# Puerto del backend
PORT=3002